.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.welcome input {
  max-width: 600px;
  height: 50px;
  border-radius: 20px;
}
.welcome button {
  max-width: 200px;
  height: 30px;
  border-radius: 20px;
}
.app {
  min-height: 100vh;
}
.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
